body {
  height: 100%;
  background-color: #485461;
background-image: url('mylkBG.svg');
  background-size: 100%;
  color: #D2CCC4;
  font-family: sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  letter-spacing: -1px;
  overflow: hidden;
}

.header {
  margin: 20vh auto;
  max-width: 70%;
  
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 0px;
}

#myName {
  color: #ddbb00;
}

.introLine {
  margin: 0px;
  text-align: right;
  font-weight: 100;
}

    #socialIcons {
      width: 100%;
    }
    
    #twitter {
      background-color: #38A1F3;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0px auto;
    }
    #twitter img {
     max-width:100%; 
    }
    
    #footer {      
      position: fixed;
      bottom: 50px;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
      margin: 10px auto;
    }
    
    #myLogo {
      width: 300px;
    }
